
<form id="contact-form" method="post" action="#">
  <div class="row gtr-uniform">
    <div class="col-5 col-12-xsmall">
      <input
        type="text"
        name="name"
        id="name"
        <% if (user) { %> 
        value="<%= user.name %>" 
        readonly="readonly"
        <% } %>
        placeholder="Your name"
      />
    </div>
    <div class="col-7 col-12-xsmall">
      <input
        type="email"
        name="email"
        id="email"
        <% if (user) { %> 
          value="<%= user.email %>" 
          readonly="readonly"
        <% } %>
        placeholder="Your email"
      />
    </div>

    <div class="col-7 col-12-xsmall">
      <input
        type="text"
        name="title"
        id="title"
        placeholder="Name of the piece"
      />
    </div>
    <div class="col-5 col-12-xsmall">
      <input
        type="text"
        name="country"
        id="country"
        placeholder="Country"
      />
    </div>

    <div class="col-6 col-12-xsmall">
      <input
        type="text"
        name="composer"
        id="composer"
        placeholder="Composed by"
      />
    </div>
    <div class="col-6 col-12-xsmall">
      <input
        type="text"
        name="arranger"
        id="arranger"
        placeholder="Arranged by"
      />
    </div>

    <div class="col-12">
      <input
        type="text"
        name="description"
        id="description"
        placeholder="Description"
      />
    </div>

    <div class="col-12">
      <ul class="actions">
        <li>
          <input
            type="file"
            value="Upload files"
            class="button icon solid fa-upload"
          />
        </li>
      </ul>
    </div>

    <!-- Break -->
    <div class="col-12">
      <ul class="actions">
        <li>
          <input
            type="submit"
            value="Submit contribution"
            class="primary"
          />
        </li>
      </ul>
    </div>
  </div>
</form>