<head>
  <title>Partitas Music | <%= title %></title>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, user-scalable=no"
  />
  <meta
    name="description"
    content="Repertoire & Resources for the Guitar Craft Tuning"
  />

  <meta property="og:title" content="Partitas Music | <%= title %>" />
  <meta property="og:url" content="https://partitasmusic.com" />
  <meta
    property="og:description"
    content="Repertoire & Resources for the Guitar Craft Tuning"
  />
  <meta
    property="og:image"
    content="https://pbs.twimg.com/profile_images/1380607513645748225/pxoeQTb-_400x400.jpg"
  />
  <meta property="og:type" content="article" />

  <link
    rel="icon"
    type="image/png"
    href="/images/branding/favicon-PM-orange.png"
  />
  <link rel="stylesheet" href="/assets/css/main.css" />
</head>
