<header id="header">
    <a href="/home" class="logo">
        <img src="/img/logo-pm.png" alt="logo" width="200">
    </a>
    <span class="text-header">Music for the<br />Guitar Craft Tuning</span>

</header>