<% if (typeof error != 'undefined') {%>
<div class="alert" role="alert"><%= error.message %></div>
<% } %> <% if (typeof success != 'undefined') {%>
<div class="alert-success" role="alert"><%= success.message %></div>
<% } %>
