<div id="sidebar">
  <div class="inner">
    <!-- Search -->
    <section id="search" class="alt">
      <form method="post" action="#">
        <input type="text" name="query" id="query" placeholder="Search" />
      </form>
    </section>

    <!-- Menu -->
    <nav id="menu">
      <header class="major">
        <h2>Menu</h2>
      </header>
      <ul>
        <li><a href="/profiles">music</a></li>
        <li><a href="/picks-and-strings">picks & strings</a></li>
        <li><a href="/contribute">contribute</a></li>
        <li><a href="/about-us">about us</a></li>
        <li><a href="/contact">contact</a></li>
      </ul>
    </nav>

    <!-- Aphorism -->
    <a href="/aphorisms">
      <div id="aphorism"></div>
    </a>

    <!-- Login / Logout -->
    <section>
      <ul class="contact">
        <% if (user) { %>
        <li class="icon solid fa-sign-out-alt">
          <a href="/users/logout">Logout</a>
        </li>
        <% } else { %>
        <li class="icon solid fa-sign-in-alt">
          <a href="/login">Login</a>
        </li>
        <% } %>
      </ul>
    </section>
  </div>
</div>

<!-- aphorism fetch script-->
<script>
  aphorism()
    .then((text) => {
      document.getElementById('aphorism').innerText = `"${text}"`;
    })
    .catch((error) => {
      console.log('error fetching aphorism');
      console.error(error);
    });

  async function aphorism() {
    const response = await fetch('/aphorism');
    const text = await response.text();
    return text;
  }
</script>
