<div id="sidebar">
    <div class="inner">

        <!-- Search -->
        <section id="search" class="alt">
            <form method="post" action="#">
                <input type="text" name="query" id="query" placeholder="Search" />
            </form>
        </section>

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>
                <li><a href="/home">Homepage</a></li>
                <li><a href="#">Forum</a></li>
                <li><a href="#">The book</a></li>
                <li><a href="#">Contribute</a></li>
                <li><a href="/template/elements.html">Elements</a></li>

                <li>
                    <span class="opener">Artists</span>
                    <ul>
                        <li><a href="/artist">Artist 1</a></li>
                        <li><a href="/artist">Artist 2</a></li>
                        <li><a href="/artist">Artist 3</a></li>
                        <li><a href="/artist">Artist 4</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>Contact us</h2>
            </header>
            <ul class="contact">
                <li class="icon solid fa-envelope"><a href="#">info@partitasmusic.com</a></li>
                <li class="icon solid fa-sign-out-alt"><a href="/users/logout">Logout</a></li>
            </ul>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; 2020 Partitas Music.</p>
        </footer>

    </div>
</div>