<div id="sidebar">
  <div class="inner">
    <!-- Search -->

    <section id="search" class="alt">
      <form method="get" action="/search">
        <input type="text" name="q" id="query" placeholder="Search" />
      </form>
    </section>

    <script>
      var form = document.querySelector("#search form");
      var input = document.querySelector("#search input");
      input.addEventListener("keyup", function (event) {
        event.preventDefault();
        if (event.keyCode === 13) {
          form.submit();
        }
      });
    </script>

    <!-- Menu -->
    <nav id="menu">
      <ul>
        <li><a href="/seven-guitar-craft-themes-book">the orange book</a></li>
        <li><a href="/music-catalog">music catalog</a></li>
        <li><a href="/the-tuning">the tuning</a></li>
        <li><a href="/picks-and-strings">picks & strings</a></li>
        <li><a href="/contribute">contribute</a></li>
        <li><a href="/about-us">about us</a></li>
        <li><a href="/contact">contact</a></li>
      </ul>
    </nav>

    <!-- Aphorism -->
    <a href="/aphorisms">
      <div id="aphorism"></div>
    </a>

    <!-- Login / Logout -->
    <ul class="icons">
      <li>
        <a
          href="https://facebook.com/partitasmusic"
          rel="noopener"
          target="_blank"
          class="icon brands fa-facebook-f"
          ><span class="label">Facebook</span></a
        >
      </li>
      <li>
        <a
          href="https://instagram.com/partitasmusic"
          rel="noopener"
          target="_blank"
          class="icon brands fa-instagram"
          ><span class="label">Instagram</span></a
        >
      </li>
      <li>
        <a
          href="https://twitter.com/gcaphorisms"
          rel="noopener"
          target="_blank"
          class="icon brands fa-twitter"
          ><span class="label">Twitter</span></a
        >
      </li>
      <li>
        <a
          href="https://patreon.com/partitasmusic"
          rel="noopener"
          target="_blank"
          class="icon brands fa-patreon"
          ><span class="label">Patreon</span></a
        >
      </li>
      <% if (user) { %>
      <li>
        <a
          style="display: inline-flex; align-items: center"
          href="/users/logout"
          class="icon solid fa-sign-out-alt"
        >
          <i style="margin-right: 3px"></i>Logout
        </a>
      </li>
      <% } else { %>
      <li>
        <a
          style="display: inline-flex; align-items: center"
          href="/login"
          class="icon solid fa-sign-in-alt"
        >
          <i style="margin-right: 3px"></i>Login
        </a>
      </li>
      <% } %>
    </ul>
  </div>
</div>

<!-- aphorism fetch script-->
<script>
  aphorism()
    .then((text) => {
      document.getElementById("aphorism").textContent = `"${text}"`;
    })
    .catch((error) => {
      console.log("error fetching aphorism");
      console.error(error);
    });

  async function aphorism() {
    const response = await fetch("/api/aphorism");
    const text = await response.text();
    return text;
  }
</script>
