AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
DB_CONNECT=
DB_CONNECT_TEST=mongodb+srv://test-user:99ayfN2wAKAJWRhV@cluster0.shnao.mongodb.net/PartitasMusic?retryWrites=true&w=majority
RESET_TOKEN=
SESSION_SECRET=
USER_EMAIL=
USER_PASSWORD=