<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Partitas Music | About Us</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="icon" type="image/png" href="/img/favicon-PM-orange.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <%- include('partials/header'); %>

          <!-- Banner -->
          <section id="banner">
            <div class="content">
              <header>
                <h2>About Us</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Autem nesciunt obcaecati error, aspernatur magnam corrupti..
                </p>
              </header>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
                doloribus nemo sapiente, debitis qui asperiores minus sit
                officia! A corrupti atque quia iure libero? Dignissimos sit ut
                quidem tenetur quibusdam nihil dolorum illo repudiandae magnam?
                Aspernatur dolorem sequi ratione culpa atque eos asperiores
                itaque, tempora rem. Necessitatibus eveniet corporis harum?
              </p>
            </div>
            <span class="image object">
              <img src="./images/collage-home.jpg" alt="collage" />
            </span>
          </section>
        </div>
      </div>

      <!-- Sidebar -->
      <%- include('partials/sidebar'); %>
    </div>

    <!-- Scripts -->
    <%- include('partials/scripts'); %>
  </body>
</html>
