<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Partitas Music | About Us</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="icon" type="image/png" href="/img/favicon-PM-orange.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <%- include('partials/header'); %>

          <!-- Banner -->
          <section id="banner">
            <div class="content">
              <header class="major">
                <h2>About Us</h2>
              </header>
              <p>
                Partitas Music was born in 2011 as the publisher of
                <a href="/seven-guitar-craft-themes-book"
                  >Seven Guitar Craft Themes</a
                >
                an edition with music written by Robert Fripp. Since then we
                have collected lots of music shared privately within the family
                and friends community.
              </p>
              <p>The aims of Partitas Music:</p>
              <ul>
                <li>
                  To make the repertoire of Guitar Craft Tuning available to
                  everyone, so that this music finds its audience.
                </li>
                <li>
                  To create a community space of exchange that will favor our
                  growth as musicians.
                </li>
              </ul>
              <p>Partitas Music is managed by Marc and Horacio Pozzo.</p>
            </div>
            <span class="image object">
              <img src="./images/collage-partitas.jpg" alt="collage" />
            </span>
          </section>
        </div>
      </div>

      <!-- Sidebar -->
      <%- include('partials/sidebar'); %>
    </div>

    <!-- Scripts -->
    <%- include('partials/scripts'); %>
  </body>
</html>
