<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <!-- head -->
  <%- include('partials/head'); %>

  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <%- include('partials/header'); %>

          <!-- Banner -->
          <section id="banner">
            <div class="content">
              <header class="major">
                <h2>About Us</h2>
              </header>
              <p>
                Partitas Music was born in 2011 as the publisher of
                <a href="/seven-guitar-craft-themes-book"
                  >Seven Guitar Craft Themes</a
                >, a book with music written by Robert Fripp. Since then we have
                collected lots of music shared privately within the family and
                friends community.
              </p>
              <p>The aims of Partitas Music:</p>
              <ul>
                <li>
                  To make the repertoire of the Guitar Craft Tuning available to
                  everyone, so that this music finds its audience.
                </li>
                <li>
                  To create a space of exchange that will favor our growth as
                  musicians.
                </li>
              </ul>
              <p>
                The contributors own the rights of the materials presented on
                this website. Music, images, and text.
              </p>
              <p>
                Editor: Horacio Pozzo <br />
                Management: Marcos Pozzo
              </p>
            </div>
            <span class="image object">
              <img src="./images/collage-partitas.jpg" alt="collage" />
            </span>
          </section>
        </div>
      </div>

      <!-- Sidebar -->
      <%- include('partials/sidebar'); %>
    </div>

    <!-- Scripts -->
    <%- include('partials/scripts'); %>
  </body>
</html>
