<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Partitas Music | Aphorisms</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link
      rel="icon"
      type="image/png"
      href="./images/branding/favicon-PM-orange.png"
    />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <%- include('partials/header'); %>

          <!-- Banner -->
          <section id="banner">
            <div class="content">
              <header class="major">
                <h2>Guitar Craft Aphorisms</h2>
                <p>
                  From GC Course Diaries by Robert Fripp: Level 1 & 2 in
                  Sassoferrato, Italy. Sunday 21st. January, 2001
                </p>
              </header>
              <blockquote>
                "Key principles, instructions and insights that emerged during
                the early GC courses became codified & collected together in a
                series of aphorisms. A selection of these was published as a
                poster in 1987 as “Guitar Monograph No. 3” and has been out of
                print since. Some of the aphorisms were specific to the
                conditions of time, place & person. Others have been found
                useful in the longer period, and continue to be used today. The
                global aphorism of Guitar Craft, which contains all the others,
                is this:<br />
                <br />
                Honour necessity.<br />
                Honour sufficiency.<br />
                <br />
                Where any aphorism addresses or points towards what is “true” in
                some way, this “truth” has almost inevitably already been said
                somewhere, at some time, by someone else. So, any “truth” may be
                found in one form or another in the writings, literature,
                practices and oral transmission of all bona fide crafts, ways &
                traditions. This is irrelevant: what is true, and what is real,
                is necessarily to be “made” true & realised through the ongoing
                & creative process of living our lives, whatever our chosen
                field. Rediscovery and recreation is discovery and creation,
                where we engage and make this our own."
              </blockquote>
              <blockquote>
                "In any situation where I need guidance, there is a GC aphorism
                to indicate the direction."
              </blockquote>
              <blockquote>
                "We bring to the aphorisms the extent of our understanding: what
                we see in them is ourselves. If they are to speak to us, the
                contact is direct. Perhaps this follows a period, even a long
                period, of reflection; or actively testing them in some
                practical activity. But to see them, the seeing is direct,
                unmediated, without explanation. Then, they become ours; and, we
                become available to them. They defy analysis by the whirring
                mechanism of our everyday cerebral processing, the rattling
                association of verbal-intellectual mind. If we might ascribe
                intent to the “author” of the aphorisms, then part of that
                intent is surely to shake off the hold of habitual thinking.<br />
                <br />
                Guitar Craft is a work in process. If anyone wishes to use, or
                adopt, the Guitar Craft aphorisms they do so with my good wishes
                (subject to the warning which follows below). The aphorisms are
                not presented as authoritative, although I recognise in some of
                them an authority which is not my own. An aphorism, or several
                aphorisms, may also be publicly quoted and/or used on notepaper
                and websites with due acknowledgement. They may not be used in
                toto, or in bulk, without express permission. They may not be
                used commercially. They may, for example, be printed up on a
                t-shirt for private use, but not for sale. If anyone is in doubt
                about any of this, or has a question, they can find the answer
                somewhere in the aphorisms. That’s what they are for, after
                all."
              </blockquote>
            </div>
          </section>
        </div>
      </div>

      <!-- Sidebar -->
      <%- include('partials/sidebar'); %>
    </div>

    <!-- Scripts -->
    <%- include('partials/scripts'); %>
  </body>
</html>
