<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Partitas Music | Contribute</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="icon" type="image/png" href="/img/favicon-PM-orange.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <%- include('partials/header'); %>

          <!-- Banner -->
          <section id="banner">
            <div class="content">
              <header class="major">
                <h2>Contribute</h2>
              </header>
              <form id="contact-form" method="post" action="#">
                <div class="row gtr-uniform">
                  <div class="col-6 col-12-xsmall">
                    <input
                      type="text"
                      name="name"
                      id="name"
                      value=""
                      placeholder="Your name"
                    />
                  </div>
                  <div class="col-6 col-12-xsmall">
                    <input
                      type="email"
                      name="email"
                      id="email"
                      value=""
                      placeholder="Your email"
                    />
                  </div>

                  <div class="col-6 col-12-xsmall">
                    <input
                      type="text"
                      name="title"
                      id="title"
                      value=""
                      placeholder="Name of the piece"
                    />
                  </div>
                  <div class="col-6 col-12-xsmall">
                    <input
                      type="text"
                      name="country"
                      id="country"
                      value=""
                      placeholder="Country"
                    />
                  </div>

                  <div class="col-6 col-12-xsmall">
                    <input
                      type="text"
                      name="composer"
                      id="composer"
                      value=""
                      placeholder="Composed by"
                    />
                  </div>
                  <div class="col-6 col-12-xsmall">
                    <input
                      type="text"
                      name="arranger"
                      id="arranger"
                      value=""
                      placeholder="Arranged by"
                    />
                  </div>

                  <div class="col-12">
                    <input
                      type="text"
                      name="description"
                      id="description"
                      value=""
                      placeholder="Description"
                    />
                  </div>

                  <div class="col-12">
                    <ul class="actions">
                      <li>
                        <input
                          type="file"
                          value="Upload files"
                          class="button icon solid fa-upload"
                        />
                      </li>
                    </ul>
                  </div>

                  <!-- Break -->
                  <div class="col-12">
                    <ul class="actions">
                      <li>
                        <input
                          type="submit"
                          value="Submit contribution"
                          class="primary"
                        />
                      </li>
                    </ul>
                  </div>
                </div>
              </form>
            </div>
            <span class="image object">
              <img src="./images/contact.png" alt="" />
            </span>
          </section>
        </div>
      </div>

      <!-- Sidebar -->
      <%- include('partials/sidebar'); %>
    </div>

    <!-- Scripts -->
    <%- include('partials/scripts'); %>
  </body>
</html>
