<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Partitas Music | Contact</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link
      rel="icon"
      type="image/png"
      href="./images/branding/favicon-PM-orange.png"
    />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <%- include('partials/header'); %>

          <!-- Banner -->
          <section id="banner">
            <div class="content">
              <header class="major">
                <h2>Contact</h2>
                <p>
                  We look forward to receiving your message. <br />
                  Comments and suggestions are most welcome!
                </p>
              </header>

              <!-- Contact form -->
              <%- include('partials/contact-form'); %>
            </div>
            <span class="image object">
              <img src="./images/contact.png" alt="" />
            </span>
          </section>
        </div>
      </div>

      <!-- Sidebar -->
      <%- include('partials/sidebar'); %>
    </div>

    <!-- Scripts -->
    <%- include('partials/scripts'); %>
  </body>
</html>
