<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Partitas Music | Dashboard</title>
    <link rel="icon" type="image/png" href="/img/favicon-PM.png" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="login-page">
      <img class="logo" src="/img/logo-pm.png" alt="logo" />
      <div class="form">
        <!-- login form -->
        <%- include('partials/messages'); %>
        <form id="submit-form" class="login-form" action="/login" method="GET">
          <button type="submit">logout</button>
        </form>
      </div>
    </div>
  </body>
</html>
