<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <!-- head -->
  <%- include('partials/head'); %>

  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <%- include('partials/header'); %>

          <!-- Banner -->
          <section id="banner">
            <div class="content">
              <header class="major">
                <h2>Welcome to our new website!</h2>
              </header>
              <p>
                Since the early days of
                <a href="http://guitarcrafthistory.com/" target="_blank"
                  >Guitar Craft</a
                >
                up until today, a vast array of composers and ensembles from all
                over the world performed and recorded many hours of guitar
                music, from solo pieces to chamber configurations and
                circulations.
              </p>
              <p>
                We are gathering here new and classic pieces in order to make
                the repertoire of the Guitar Craft Tuning -also known as New
                Standard Tuning- available to everyone.
              </p>
              <p>
                We invite you to find the music here, participate and support
                the community.
              </p>
              <ul class="actions">
                <li>
                  <a href="/contributors" class="button primary">welcome!</a>
                </li>
              </ul>
            </div>
            <span class="image object">
              <img
                src="./images/collage-partitas.jpg"
                alt="Collage of pictures made with a book, a pick, and four guitarists playing the guitar."
              />
            </span>
          </section>
        </div>
      </div>

      <!-- Sidebar -->
      <%- include('partials/sidebar'); %>
    </div>

    <!-- Scripts -->
    <%- include('partials/scripts'); %>
  </body>
</html>
