<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Partitas Music | Home</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="icon" type="image/png" href="/img/favicon-PM-orange.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <%- include('partials/header'); %>

          <!-- Banner -->
          <section id="banner">
            <div class="content">
              <header>
                <h2>Welcome to our new website!</h2>
                <p>
                  A community space of exchange centered on the guitar that will
                  favor our growth as musicians.
                </p>
              </header>
              <p>
                Partitas Music was born in 2011 as the publisher of Seven Guitar
                Craft Themes an edition with music written by Robert Fripp.
                Since then we have collected dozens of new compositions and
                transcriptions, many of them shared privately until now.
                Partitas Music has no commercial or profit aims. However, those
                who devote their time to composing, transcribing and recording
                music will accept money contributions, beyond their individual
                copyrights. The copyrights of the original compositions on this
                site are exclusive property and are managed by the authors.
              </p>
              <ul class="actions">
                <li><a href="#" class="button big">Learn More</a></li>
              </ul>
            </div>
            <span class="image object">
              <img src="./images/collage-home.jpg" alt="collage" />
            </span>
          </section>
        </div>
      </div>

      <!-- Sidebar -->
      <%- include('partials/sidebar'); %>
    </div>

    <!-- Scripts -->
    <%- include('partials/scripts'); %>
  </body>
</html>
