<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Partitas Music | Home</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link
      rel="icon"
      type="image/png"
      href="./images/branding/favicon-PM-orange.png"
    />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <%- include('partials/header'); %>

          <!-- Banner -->
          <section id="banner">
            <div class="content">
              <header class="major">
                <h2>Welcome to our new website!</h2>
              </header>
              <p>
                Since the launching of Partitas Music with Seven Guitar Craft
                Themes by Robert Fripp, a vast array of established groups and
                ensembles from all over the world performed and recorded many
                hours of guitar music, from solo pieces to chamber
                configurations and circulations.
              </p>
              <p>
                We have gathered new and classic pieces in order to make the
                repertoire of the Guitar Craft Tuning (also known as New
                Standard Tuning) available to everyone. We invite you to find
                them here, contribute with your own music, participate and
                support the community.
              </p>
              <ul class="actions">
                <li>
                  <a href="/profiles" class="button primary">welcome</a>
                </li>
              </ul>
            </div>
            <span class="image object">
              <img src="./images/collage-partitas.jpg" alt="collage" />
            </span>
          </section>
        </div>
      </div>

      <!-- Sidebar -->
      <%- include('partials/sidebar'); %>
    </div>

    <!-- Scripts -->
    <%- include('partials/scripts'); %>
  </body>
</html>
