<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Partitas Music | Home</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="icon" type="image/png" href="/img/favicon-PM-orange.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <%- include('partials/header'); %>

          <!-- Banner -->
          <section id="banner">
            <div class="content">
              <header>
                <h2>Welcome to our new website!</h2>
                <p>home of the guitar craft tuning</p>
              </header>
              <p>
                Since the launching of Partitas Music with Seven Guitar Craft
                Themes by Robert Fripp, we have gathered a lot of musical
                material written or arranged for the GC Tuning. In these 35
                years, oral transmission has been an effective tool in
                residential courses to expand the repertoire.
              </p>
              <p>
                However, today's ways of sharing music make it possible to
                better interact with the GC community. A vast array of
                established groups or ensembles from all over the world
                performed and recorded many hours of guitar music, from solo
                pieces to chamber configurations and circulations. We invite you
                to find here new or “classic” pieces, and contribute with your
                own music, support and suggestions.
              </p>
              <ul class="actions">
                <li>
                  <a href="/about-us" class="button primary">more about us</a>
                </li>
              </ul>
            </div>
            <span class="image object">
              <img src="./images/collage-partitas-2.jpg" alt="collage" />
            </span>
          </section>
        </div>
      </div>

      <!-- Sidebar -->
      <%- include('partials/sidebar'); %>
    </div>

    <!-- Scripts -->
    <%- include('partials/scripts'); %>
  </body>
</html>
