<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Partitas Music</title>
    <link rel="icon" type="image/png" href="/img/favicon-PM-orange.png" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <!-- partial:index.partial.html -->
    <div class="home">
      <img class="logo" src="/img/logo-pm.png" alt="logo" />
      <p>
        Partitas Music was born in 2011 as the publisher of Seven Guitar Craft
        Themes an edition with music written by Robert Fripp. Since then we have
        collected dozens of new compositions and transcriptions, many of them
        shared privately until now.
      </p>
      <br />
      <p>
        Partitas Music has no commercial or profit aims. However, those who
        devote their time to composing, transcribing and recording music will
        accept money contributions, beyond their individual copyrights. The
        copyrights of the original compositions on this site are exclusive
        property and are managed by the authors.
      </p>
      <br />
      <ul>
        Aims of Partitas Music:
        <li>
          To make the repertoire of Guitar Craft Tuning available to everyone,
          so that this music finds its audience.
        </li>
        <li>
          To create a space of exchange centered on the guitar that will favor
          our growth as musicians.
        </li>
        <br />
        <p>
          If the need arises, Partitas Music will be a small company, ethically
          transparent and economically fair and sustainable.
        </p>
      </ul>

      <button id="go-to-login">go to login</button>
    </div>
    <!-- partial -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/script.js"></script>
  </body>
</html>
