<!DOCTYPE html>
<!-- Copyright (c) 2020 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Partitas Music | Login</title>
    <link
      rel="icon"
      type="image/png"
      href="./images/branding/favicon-PM-orange.png"
    />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body id="login-body">
    <div class="login-page">
      <img class="logo" src="./images/branding/logo-pm.png" alt="logo" />
      <div class="form">
        <!-- login form -->
        <form
          id="login-form"
          class="login-form"
          action="/users/login"
          method="POST"
        >
          <%- include('partials/messages'); %>
          <input type="email" name="email" placeholder="email" autofocus />
          <input
            type="password"
            name="password"
            placeholder="password"
            autocomplete="on"
          />
          <button>login</button>

          <div class="bottom-nav-containter">
            <span id="request-an-account" class="second-pair"
              ><a href="#">Create account</a></span
            >
            <span class="message">|</span>
            <span id="reset-password" class="first-pair"
              ><a href="#">Reset your password</a></span
            >
          </div>
        </form>
        <!-- reset password form -->
        <form
          id="reset-password-form"
          class="reset-password-form"
          action="/users/reset-password"
          method="POST"
        >
          <input type="email" name="email" placeholder="email" />
          <button>reset</button>
          <p class="first-pair"><a href="#">Back</a></p>
        </form>
        <!-- signup form -->
        <form
          id="signup-form"
          class="signup-form"
          action="/users/signup"
          method="POST"
        >
          <input type="text" name="name" placeholder="Full Name" />
          <input type="email" name="email" placeholder="email" />
          <input type="password" name="password" placeholder="password" />
          <button>submit</button>
          <p class="second-pair"><a href="#">Back</a></p>
        </form>
      </div>
    </div>
    <!-- Scripts -->
    <%- include('partials/scripts'); %>
  </body>
</html>
