<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Partitas Music | Login</title>
    <link rel="icon" type="image/png" href="/img/favicon-PM.png" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="login-page">
      <img class="logo" src="/img/logo-pm.png" alt="logo" />
      <div class="form">
        <!-- login form -->
        <form
          id="login-form"
          class="login-form"
          action="/users/login"
          method="POST"
        >
          <%- include('partials/messages'); %>
          <input type="email" name="email" placeholder="email" autofocus />
          <input
            type="password"
            name="password"
            placeholder="password"
            autocomplete="on"
          />
          <button>login</button>

          <div class="bottom-nav-containter">
            <span id="reset-password" class="first-pair"
              ><a href="#">Reset your password</a></span
            >
            <span class="message">|</span>
            <span id="request-an-account" class="second-pair"
              ><a href="#">Request an account</a></span
            >
          </div>
        </form>
        <!-- reset password form -->
        <form
          id="reset-password-form"
          class="reset-password-form"
          action="/users/reset-password"
          method="POST"
        >
          <input type="email" name="email" placeholder="email" />
          <button>reset</button>
          <p class="first-pair"><a href="#">Back</a></p>
        </form>
        <!-- signup form -->
        <form
          id="signup-form"
          class="signup-form"
          action="/users/signup"
          method="POST"
        >
          <input type="text" name="name" placeholder="Full Name" />
          <input type="email" name="email" placeholder="email" />
          <textarea placeholder="Who are you?" name="whois"></textarea>
          <button>submit</button>
          <p class="second-pair"><a href="#">Back</a></p>
        </form>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="/script.js"></script>
  </body>
</html>
