<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Partitas Music | Picks & Strings</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <!-- <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    /> -->
    <link
      rel="icon"
      type="image/png"
      href="./images/branding/favicon-PM-orange.png"
    />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <!-- <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script> -->
    <!-- <style>
      #mapid {
        width: 50%;
        height: 300px;
        margin-left: 50px;
        border-radius: 5px;
      }
    </style> -->
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <%- include('partials/header'); %>

          <!-- Banner -->
          <section id="banner">
            <div class="content">
              <header class="major">
                <h2>Picks & Strings</h2>
              </header>

              <h3>Picks</h3>
              <p>
                Japan (Hiroshi Iketani) <br />
                <a href="http://www.plectrum.co.jp/company.html" target="_blank"
                  >http://www.plectrum.co.jp/company.html</a
                >
              </p>
              <p>
                Europe <br />
                <a
                  href="http://www.guitarcraftguitars.com/picks.html"
                  target="_blank"
                  >http://www.guitarcraftguitars.com/picks.html</a
                >
              </p>
              <p>
                North America <br />
                <a
                  href="mailto:guitarcircleofnorthamerica@gmail.com"
                  target="_blank"
                  >guitarcircleofnorthamerica@gmail.com</a
                >
              </p>
              <p>
                The California Guitar Trio logo picks <br />
                <a
                  href="https://cgtrio.com/store/CGT-Logo-Guitar-Picks-p2792428"
                  target="_blank"
                  >https://cgtrio.com/store/CGT-Logo-Guitar-Picks-p2792428</a
                >
              </p>

              <h3>Strings</h3>
              <p>
                NSTrings orders: <br />
                <a href="mailto:adrianfortis@gmail.com"
                  >adrianfortis@gmail.com</a
                >
              </p>
              <p>
                John Pearse 150NS 80/20 <br />
                <a
                  href="https://www.stringsbymail.com/john-pearse-150ns-80-20-bronze-acoustic-guitar-strings-new-std-11-58-4975.html"
                  target="_blank"
                  >Go to store (worldwide shipping)</a
                >
              </p>
            </div>
            <span class="image object">
              <img src="./images/collage-picksandstrings-2.jpg" alt="collage" />
            </span>
            <!-- Make sure you put this AFTER Leaflet's CSS -->
          </section>
          <!-- 
          <section id="banner">
            <div class="content">
              <header class="major">
                <h2>Picks & Strings</h2>
              </header>
              <p>
              </p>
            </div>
            <div id="mapid"></div>
          </section>
           -->
        </div>
      </div>

      <!-- Sidebar -->
      <%- include('partials/sidebar'); %>
    </div>

    <!-- Scripts -->
    <%- include('partials/scripts'); %>
    <!-- <script src="/assets/js/map.js"></script> -->
  </body>
</html>
