<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Partitas Music | Profiles</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link
      rel="icon"
      type="image/png"
      href="./images/branding/favicon-PM-orange.png"
    />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>

  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <%- include('partials/header'); %>

          <!-- Section -->
          <section>
            <header class="major">
              <h2>Featured Contributors</h2>
            </header>
            <div class="posts">
              <article>
                <a href="/profile" class="image"
                  ><img src="./images/tywi-roberts.jpg" alt=""
                /></a>
                <h2>Tywi Roberts</h2>
                <h4>UK</h4>
                <h3>Liberal Knowledge</h3>
                <p>
                  Aenean ornare velit lacus, ac varius enim lorem ullamcorper
                  dolore. Proin aliquam facilisis ante interdum. Sed nulla amet
                  lorem feugiat tempus aliquam.
                </p>
                <form
                  action="/login"
                  style="width: 100%"
                  method="GET"
                  class="button primary icon solid fa-download"
                >
                  download score
                </form>
                <audio
                  style="width: 100%"
                  preload="none"
                  class="mobile-audio"
                  controls=""
                ></audio>
              </article>
              <article>
                <a href="/profile" class="image"
                  ><img src="./images/chris-doering.jpg" alt=""
                /></a>
                <h2>Chris Doering</h2>
                <h4>USA</h4>
                <h3>Excellent Adventure</h3>
                <p>
                  Aenean ornare velit lacus, ac varius enim lorem ullamcorper
                  dolore. Proin aliquam facilisis ante interdum. Sed nulla amet
                  lorem feugiat tempus aliquam.
                </p>
                <form
                  action="/login"
                  style="width: 100%"
                  method="GET"
                  class="button primary icon solid fa-download"
                >
                  download score
                </form>
                <audio
                  style="width: 100%"
                  preload="none"
                  class="mobile-audio"
                  controls=""
                ></audio>
              </article>
              <article>
                <a href="/profile" class="image"
                  ><img src="./images/alex-anthony-faide.jpg" alt=""
                /></a>
                <h2>Alex Anthony Faide</h2>
                <h4>Argentina / USA</h4>
                <h3>The Dance of Litha</h3>
                <p>
                  Aenean ornare velit lacus, ac varius enim lorem ullamcorper
                  dolore. Proin aliquam facilisis ante interdum. Sed nulla amet
                  lorem feugiat tempus aliquam.
                </p>
                <form
                  action="/login"
                  style="width: 100%"
                  method="GET"
                  class="button primary icon solid fa-download"
                >
                  download score
                </form>
                <audio
                  style="width: 100%"
                  preload="none"
                  class="mobile-audio"
                  controls=""
                ></audio>
              </article>
            </div>
          </section>
          <!-- Trigger/Open The Modal -->
          <button id="myBtn">Open Modal</button>

          <!-- The Modal -->
          <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
              <span class="close">&times;</span>
              <p>Some text in the Modal..</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Sidebar -->
      <%- include('partials/sidebar'); %>
    </div>

    <!-- Scripts -->
    <%- include('partials/scripts'); %>
  </body>
</html>
