<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Partitas Music | Registered</title>
    <link rel="icon" type="image/png" href="/img/favicon-PM-orange.png" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <!-- partial:index.partial.html -->
    <div class="home">
      <img class="logo" src="/img/logo-pm.png" alt="logo" />
      <p>Thank you for your interest in Partitas Music!</p>
      <br />
      <p>
        Since we are on beta testing stages and because of copyright matters, we
        currently accept members of the GC community only.
      </p>
      <br />
      <p>We will review you account request and respond as soon as possible.</p>
      <br />
      <button id="go-to-login">go to login</button>
    </div>
    <!-- partial -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/script.js"></script>
  </body>
</html>
