<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Partitas Music | Set password</title>
    <link
      rel="icon"
      type="image/png"
      href="/images/branding/favicon-PM-orange.png"
    />
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>
  <body id="login-body">
    <div class="login-page">
      <img class="logo" src="/images/branding/logo-pm.png" alt="logo" />
      <div class="form">
        <!-- login form -->
        <form
          id="set-form"
          class="login-form"
          action="/users/set-password/<%= token %>"
          method="POST"
        >
          <%- include('partials/messages'); %>
          <input
            id="password"
            type="password"
            name="password"
            placeholder="new password"
            autocomplete="new-password"
            autofocus
            required
          />
          <input
            id="confirm"
            type="password"
            name="confirm"
            placeholder="confirm password"
            autocomplete="new-password"
            required
          />
          <button>set</button>
        </form>
      </div>
    </div>
    <!-- Scripts -->
    <%- include('partials/scripts'); %>
  </body>
</html>
