<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en">
  <!-- head -->
  <%- include('partials/head'); %>

  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <%- include('partials/header'); %>

          <!-- Banner -->
          <section id="banner">
            <div class="content">
              <header class="major">
                <h2>The Seven Guitar Craft Themes Book</h2>
                <p>definitive scores for guitar ensemble</p>
              </header>
              <p>
                Currently out of printing, this official limited edition gave
                birth to Partitas Music and was sold all over the world until
                2017.
              </p>
              <blockquote>
                "Since 1985, Guitar Craft courses have been held in fourteen
                countries; and attended by some 3,000 students of many
                nationalities, ages and a diversity of cultural backgrounds. The
                Guitar Craft Tuning generated a need for a new guitar
                repertoire, the pieces all appeared in the first few months of
                activity. Properly, they are only one part of a larger body of
                practice that is introduced in person. Nevertheless, they are
                presented here in the hope that they resonate within the wider
                community."<q>—Robert Fripp</q>
              </blockquote>
              <strong>
                Limited, numbered edition<br />
                Editor: Horacio Pozzo<br />
                Release date: December 20, 2011<br />
                Format: 23 cm x 30,5 cm, soft cover.<br />
                Printed in Coral Book Ivory paper, 40 pages.
              </strong>
            </div>
            <span class="image object">
              <img
                src="./images/collage-7gct-2.jpg"
                alt="Collage of the Seven Guitar Craft Themes Book including its cover and a little bit of one of its pages. Orange."
              />
            </span>
          </section>
        </div>
      </div>

      <!-- Sidebar -->
      <%- include('partials/sidebar'); %>
    </div>

    <!-- Scripts -->
    <%- include('partials/scripts'); %>
  </body>
</html>
