<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Partitas Music | Status</title>
    <link
      rel="icon"
      type="image/png"
      href="/images/branding/favicon-PM-orange.png"
    />
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>

  <body id="login-body">
    <div class="login-page">
      <img class="logo" src="/images/branding/logo-pm.png" alt="logo" />
      <div class="form">
        <!-- login form -->
        <form id="submit-form" class="login-form">
          <%- include('partials/messages'); %>
          <button id="close">close</button>
        </form>
      </div>
    </div>
    <!-- Scripts -->
    <%- include('partials/scripts'); %>
  </body>
</html>
