<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Partitas Music | Status</title>
    <link rel="icon" type="image/png" href="/img/favicon-PM.png" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="login-page">
      <img class="logo" src="/img/logo-pm.png" alt="logo" />
      <div class="form">
        <!-- login form -->
        <form id="submit-form" class="login-form">
          <%- include('partials/messages'); %>
          <button id="close">close</button>
        </form>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="/script.js"></script>
  </body>
</html>
