<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en">
  <!-- head -->
  <%- include('partials/head'); %>

  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <%- include('partials/header'); %>

          <!-- Banner -->
          <section id="banner">
            <div class="content">
              <header id="header-tuning" class="major">
                <span class="image right" class="image object">
                  <img
                    src="./images/gc-tuning-drawing.png"
                    alt="The GC Tuning represented in a score, a piano keyboard and on the guitar itself"
                  />
                </span>
                <h2>The Guitar Craft Tuning</h2>
              </header>
              <p>
                During a series of virtual meetings held in 2020 for the Intro
                to
                <a
                  rel="noopener"
                  target="_blank"
                  href="https://robertfrippsguitarcircle.com"
                  >‘An Introduction to The Guitar Circle’</a
                >
                course, Robert Fripp was asked how he came up with the tuning.
                His words are quoted here, taken from two different sessions:
              </p>
              <blockquote>
                "It’s not that Robert came up with the new tuning, it’s the new
                tuning that came up with Robert. And then gave Robert the job of
                figuring out what it was for. The tuning flew over my head from
                right to left, with the tuning going from left to right. It was
                a Point Of Seeing."
                <br />
                <br />
                "But the question about: How does the mind enter the space? This
                is a wonderful question. And may I say, let us ask this question
                seven times and see where it leads us. So, for example, here is
                the tuning. So the first question might be: Where did the tuning
                come from? And you might say, well it was the Apple Health Bar
                at Bleecker and Thompson, New York City. Well, kind of, it
                doesn’t quite go far enough, does it? And then, why would it be
                10:30 in the morning while Fripp was in the sauna, all stinky
                and sweaty? But it doesn’t quite - doesn’t quite go far enough."
                <br />
                <br />
                "I had no notion whatsoever what to do with it. It flew by and
                there it was - it’s in fifths. So Bs snapped, most As snapped,
                although I have had very thin strings which hold it a little
                better, tenor banjo As too, for example. But nevertheless the
                [high] G settled and resonated, and part of the interest for me
                was the tight voicings which are possible with the minor third
                between the first and second strings."
                <br />
                <br />
                "In terms of what to do with it, shortly after the tuning flew
                from right to left over my head with the tuning going from left
                to right, I went down to Champaign-Urbana where King Crimson
                were rehearsing. I went down to write with Adrian Belew, and I
                put the tuning on my instrument. But, it just didn't catch
                fire."
                <br />
                <br />
                "And then in, I believe it was November/December 1984 at
                Claymont Court, Vivian Engelberg asked me to give a seminar
                series in the guitar, and I said, ‘No! No! I've been giving
                guitar lessons since I was thirteen or fourteen, then when I was
                seventeen and eighteen, then when I was twenty one, then when I
                was twenty nine or so - I never wanted to go back to this! Bring
                me your hands. No, take them away!’ And, Vivian Engelberg asked
                a second time: ‘Will you give a seminar in guitar?’ And there
                was a click [snaps fingers] [pause, gesture of recognition] ah!
                that's what the tuning is for. So I said yes. That's what the
                tuning was for. The tuning had to fly by so that Guitar Craft
                could begin. And it did."
              </blockquote>
              <p>
                In March 2010, a large course in Sassoferrato, Italy was held to
                acknowledge the completion of Guitar Craft after 25 years of
                activities. On March the 25th, in the dining room, Robert
                announced that Guitar Craft had “ceased to exist” and that
                further related activities could go on as The Guitar Circle.
              </p>
              <p>
                On that same course, Robert said that the New Standard Tuning
                was “no longer new, and never became standard”. And he suggested
                to rename the tuning to the “Guitar Craft Tuning” or the “C
                Pentatonic Tuning”.
              </p>
            </div>
          </section>
        </div>
      </div>

      <!-- Sidebar -->
      <%- include('partials/sidebar'); %>
    </div>

    <!-- Scripts -->
    <%- include('partials/scripts'); %>
  </body>
</html>
